#tree,#expand{ 
  font-size: medium;
  overflow-y:auto; 
  overflow-x: hidden; 
  /*border:1px solid silver; */
  /*min-height:100px; */
  max-height: 400px;
  /*width: 770px; */
  margin: 1rem 1rem 0 1rem;
  background: white;
  /*padding: 0 1rem;*/
}

.card {
  /*margin: 0.25rem 0 !important;*/
  margin: none !important;
  /*enable wrapping*/
  white-space : normal !important;
  /*ensure lower nodes move down*/
  height : auto !important;
  /*border-style: solid dashed;*/
  border-bottom: none;
  border-right: none;
  border-radius: 0 !important;
}

.card-header {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.5rem !important;
  background-color: rgba(0,0,0,.03) !important;
}

.card-leaf {
  padding: 0.5rem !important;
}

.card-body {
  padding: 0.5rem 0 0.5rem 1.25rem !important;
}

.btn {
  text-align: left !important;
  padding: 0 !important;
}

.link {
  /*color: darkblue; */
  text-decoration: underline;
}

/*.link:after {
    font-family: FontAwesome;
    content: "\f05a";
    display:inline-block;
    position: relative;
    top:-5px;
    font-size: 75%;
}*/

.link:hover {
  /*font-weight: bold;*/
  color: blue !important; 
  cursor: pointer;
}

.link .link {
  color: blue !important; 
  text-decoration: underline !important;
}

.card input[type=number] {
  /*for absolutely positioning spinners*/
  position: relative; 
  padding: 0.5rem;
  /*padding-right: 2.5rem;*/
  width: 4rem;
}

.card input[type=number]::-webkit-inner-spin-button,
.card input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.card input[type=number]::-webkit-outer-spin-button, 
.card input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  /*width: 25px;*/
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.initial_explanans {
  padding: 4%;
  background: blanchedalmond;
}

.h-divider {
  margin: auto;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 20px;
  box-shadow: none !important;
}

.h-divider .shadow:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}
